.section-hero {
    width: 100%;
    text-align: center;
  }
  
  .container-hero--padding {
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
  }
  
  .section-hero--overlay {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .section-hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--primary-white-color);
  
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
  
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        padding: 0 189px;
    }

    @media screen and (min-width: 1200px) {
        padding: 0 237px;
        font-size: 44px;
        line-height: 1.36;
    }
  }