.menu-btn {
  display: inline-flex;
  position: relative;
  z-index: 999;
  padding: 0;
  margin: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;

  transition: fill 250ms var(--transition-cubic);

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-btn__icon__menu {
  display: none;
}

.menu-btn.is-open .menu-btn__icon__menu {
  display: block;
}

.menu-btn.is-open .menu-btn__icon__close {
  display: none;
}

.menu-container {
  width: 100%;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    z-index: 55;
    top: 0;
    left: 0;
    height: 796px;
    overflow-y: scroll;
    background-color: var(--primary-white-color);
    padding: 48px 40px;
    overflow: hidden;

    &.is-open {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
