.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 0;

  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;

  transition: opacity 250ms var(--transition-cubic);

  @media screen and (max-width: 767px) {
    padding: 93px 15px;
  }
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: scale(1);
  transition: transform 250ms var(--transition-cubic);

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    margin-top: 93px;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.modal-btn__close {
  display: inline-flex;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;

  transition: fill 250ms var(--transition-cubic);

  &:hover {
    fill: var(--accent-color);
  }
}

.modal-form {
  padding: 40px;
}

.modal-form__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__label {
  margin-bottom: 4px;
  padding: 0;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 12px 42px;

  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color);
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--transition-cubic);

  &:focus-within {
    border-color: var(--accent-color);
  }

  &:focus + .modal-form__icon {
    fill: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  transition: fill 250ms var(--transition-cubic);
}

.modal-form__textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--transition-cubic);

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117);
  }

  &:focus-within {
    border-color: var(--accent-color);
  }
}

.modal-form__check {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-form__check__label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__check__link {
  position: relative;
  color: var(--accent-color);
  text-decoration: none;

  transition: color 250ms var(--transition-cubic);

  &::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--accent-color);
  
    transition: border-color 250ms var(--transition-cubic);
  }

  &:hover:after,
  &:focus:after {
    border-color: var(--primary-black-color);
  }

  &:hover,
  &:focus {
    color: var(--primary-black-color);
  }
}

.modal-form__check__icon {
  display: inline-block;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
}

.modal-form__check__checkbox:checked + .modal-form__check__icon {
  background-color: var(--accent-color);
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
  border: none;
}
