.page-header {
    position: relative;
    border-bottom: 1px solid var(--header-border-color);
  }

  .site-nav {
    display: inline-flex;
    align-items: center;
  }

.site-nav__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 302px;
  }
 @media  screen and (min-width: 768px) {
  display: inline-flex;
 }
}

.site-nav__item {
  padding: 0;
  margin-bottom: 32px;

   @media screen and (min-width: 768px) {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;

    &:nth-child(1) {
      margin-left: 88px;
    }

    &:not(:last-child) {
      margin-right: 50px;
    }
   }

 }


.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--transition-cubic);
  &:hover,
  &:focus {
     color: var(--accent-color);
   }

   @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
   }
}

  .site-nav__link--current {
    color: var(--accent-color);

    @media screen and (min-width:768px) {
      &::after {
        content: '';
        display: block;
  
        position: absolute;
        bottom: -1px;
        left: 0;
      
        width: 100%;
        height: 4px;
        border-radius: 2px;
      
        background: var(--accent-color);
      }
    }
  }

  .contact-list {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 64px;
    }

    @media screen and (min-width: 768px) {
      margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
      display: inline-flex;
    }
  }

  .contact-list__item {
    display: flex;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .contact-list__icon {
    margin-right: 10px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .contact-list__link {
    display: inline-flex;
    align-items: center;

    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    fill: var(--text-color);
  
    transition: fill 250ms var(--transition-cubic),
                color 250ms var(--transition-cubic);

      &:hover,
      &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
      }

      @media screen and (max-width: 767px) {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;

        letter-spacing: 0.02em;
        &.contact-list__link--type {
          margin-bottom: 32px;
          font-weight: 500;
          font-size: 34px;
          line-height: 1.18;
          
          letter-spacing: 0.02em;
        }
      }
  }

  .page-header__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .page-header__social__item:nth-child(n+2):before {
      content: '';
      
      margin-right: 8px;

      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }

    .page-header__social__item a {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      color: var(--accent-color);
        
      letter-spacing: 0.02em;
    }

    @media screen and (min-width: 768px) {
      display: none !important;
    }
}