.page-header {
    border-bottom: 1px solid var(--header-border-color);
  }

  .site-nav {
    margin-left: 93px;
    display: inline-flex;
    justify-content: space-between;
    min-height: 60px;
  }

//   .site-nav__list {
//     display: inline-flex;
//   }

//   .site-nav__item {
//     display: flex;
//     position: relative;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     &:not(:last-child) {
//       margin-right: 50px;
//     }

//   }


//   .site-nav__link {
//     color: var(--title-text-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;
  
//     transition: color 250ms var(--transition-cubic);

//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//     }
//   }

//   .site-nav__link--current {
//     color: var(--accent-color);

//     &::after {
//       content: '';
//       display: block;

//       position: absolute;
//       bottom: -1px;
//       left: 0;
    
//       width: 100%;
//       height: 4px;
//       border-radius: 2px;
    
//       background: var(--accent-color);
//     }
//   }

//   .contact-list {
//     display: inline-flex;
//     margin-left: auto;
//   }

//   .contact-list__item {
//     display: flex;

//     &:not(:last-child) {
//       margin-right: 50px;
//     }
//   }

//   .contact-list__icon {
//     margin-right: 10px;
//   }

//   .contact-list__link {
//     display: inline-flex;
//     align-items: center;

//     color: var(--text-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     fill: var(--text-color);
  
//     transition: fill 250ms var(--transition-cubic),
//                 color 250ms var(--transition-cubic);

//       &:hover,
//       &:focus {
//         color: var(--accent-color);
//         fill: var(--accent-color);
//       }
//   }