.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .container--footer {
    display: flex;
    flex-direction: column;
    gap: 60px 0;
    justify-content: center;
    text-align: center;

    @media screen and (min-width: 1200px) {
      flex-direction: unset;
      gap: 0;
      justify-content: unset;
      text-align: left;
    }
  }
  
  .info-wraper {
    @media screen and (min-width: 768px) {
        display: flex;
        padding-right: 74px;
        padding-left: 61px;
    }

    @media screen and (min-width: 1200px) {
      align-items: normal;
      padding: 0;
      width: 50%;
    }
  }
  
  .page-footer__title{
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    color: var(--primary-white-color);

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  .adress-list__item {
    margin-top: 0;

      &:not(:last-child) {
        margin-bottom: 9px;
      }
  }
  
  .adress-list__contact {
    text-decoration: none;
  
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-contact-color);
  
    transition: color 250ms var(--transition-cubic);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  .adress-list__contact--reverse {
    color: var(--primary-white-color);
  
    transition: color 250ms var(--transition-cubic);
  }

  .join {
    padding-top: 60px;
    margin: 0;

    @media screen and (min-width: 768px) {
        padding-top: 5px;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 12px;
      padding-left: 70px;
      margin: 0;
    }
  }
  
  .subscribe { 
    @media screen and (min-width: 1200px) {
      width: 50%;
      padding-left: 23px;
      padding-top: 12px;
    }

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 1200px) {
        flex-direction: unset;
        align-items: normal;
      }
    }
  }
  
  .subscribe__input {
    width: 100%;
    height: 50px;
    
    color: var(--primary-white-color);
    background-color: var(--secondary-black-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    &::placeholder {
      padding-left: 16px;
      
      font-size: 16px;
      line-height: 1.25;
      
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      
      color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: calc(100% - 212px);
    }
  }