.do {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.do__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.do__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.do__item {
  width: calc((100% - 2 * 30px) / 3);
  position: relative;
  padding: 0;
}

.do__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
