:root {
    --title-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196f3;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --primary-white-color: #ffffff;
    --secondary-white-color: #f5f4fa;
    --primary-black-color: #000000;
    --secondary-black-color: #2f303a;
    --btn-hero-color: #188ce8;
    --card-border-color: #eeeeee;
    --header-border-color: #ececec;
    --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  }